@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


body{

    background-image: url(image/cover.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* background-color: black; */
}

.cover-page{

    background-color: transparent;
    width: 60%;
    margin: auto;
    margin-top: 13%;
}

img{
 width: 50%;
}

span{

    color: rgb(18, 163, 107);
    font-size: 100px;
    position: absolute;
    top: 45%;
    right: 22%;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
}

h3{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 68%;
    left: 47%;
   
}


@media screen and (min-width:1024px) and (max-width:1040px) {

    h3{
        color: white;
    }

}

@media screen and (min-width:768px) and (max-width:1023px) {

    h3{
        /* color: rgb(138, 13, 13); */
        top: 64%;
        left: 44%;
    }

    .cover-page{

     
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }

    span{

        font-size: 90px;
        right: 19%;
        
    }

}


@media screen and (min-width:360px) and (max-width:767px) {

    h3{
        /* color: rgb(9, 9, 110); */
        top: 47.5%;
        left: 44%;
        font-size: 18px;
    }

    .cover-page{

     
        width: 100%;
        margin: auto;
        margin-top: 40%;
    }

    span{

        font-size: 45px;
        right: 12%;
        top: 36%;
        
    }

   
    

}



